/* 
    Created on : Apr 13, 2015, 8:35:15 PM
    Updated on : Apr 19, 2015, 7:56:00 PM
    Author     : Denise Rivers
*/

/** Whole page body **/
body.login-page {
    background-color: #999999;
}

/** Login Page **/
.row-above-login {
    background-color: #999999;
    height: 5em;
}
.login-container .jumbotron {
    background-color: white;
}


/** Navbar content **/
.navbar {
    margin-bottom: 25px;
    border-radius: 0;
    background-color: #999999;
    border-color: #999999;
    background-image: none;
}
.navbar-inverse .navbar-brand {
    font-size: 2.4em;
    color: #F2F2F2;
}
.navbar-links {
    margin-top: 10px;
    font-size: 1.3em;
}
.navbar-links > span {
    color: #F2F2F2;
}
.navbar-links > a {
    color: gainsboro;
    text-decoration: underline;
}
.navbar-links > a:hover {
    color: #777;
    text-decoration: underline;
}



/** Home Icons **/
.icons-row .icon {
    display:inline-block;
    background-color: #337AB7;
    border-radius: 5px;
    padding: 10px;
    width: 180px;
}
.icons-row .icon:hover {
    background-color: #ACEBFA;
}
.icons-row .icon > a  {
    font-size: 1.5em;
    color: white;
}
.icons-row .icon > a:hover {
    color: #23527C;
    text-decoration: none;
}
.icons-row .icon > a > span.glyphicon {
    font-size: 3em;
    display: block;
}